// настройте некоторые переменные Bootstrap
$brand-primary: darken(#428bca, 20%);

// ~ позволяет вам ссылаться на вещи в node_modules
@import '../.././node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


h1{
  font-size: 24pt;
}
body{
  margin: 0 auto;
  max-width: 1330px;
}