<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="/img/icon.svg" type="image/x-icon">
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/css.css">
            <link rel="stylesheet" href="/css/font-include.css">
            <link rel="stylesheet" href="/css/footer-style.css">
            <link rel="stylesheet" href="/css/data-style.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block footer %}
            <footer class="wrapper flex">
                <div class="flex footer-nav">
                    <p><a href="#">О нас</a></p>
                    <p><a href="#">Контакты</a></p>
                    <p><a href="#">Информация</a></p>
                </div>
                <div class="flex footer-links">
                    <a href="#"><img src="/img/vk.ico" alt=""></a>
                    <a href="#"><img src="/img/inst.ico" alt=""></a>
                    <a href="#"><img src="/img/twitter.ico" alt=""></a>
                </div>
                <h5>Ⓒ ООО Imedia</h5>
            </footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
